body{
background-color: rgb(196, 191, 189);
margin:0;
min-height: 1500px;
}

.bodyheader{
    border: 5px dashed rgb(59, 57, 177);
    display:flex;
    justify-content: flex-end; 
    justify-content: space-between; 
   /* ustawienie elementów w pionie */
    align-items: center;
    position:sticky;
    top:0;
}
/* nadrzędny jest ten bardziej doprecyzowany */
main header{
    border: 2px dashed rgb(40, 97, 172);
    
}

h1{
    /* jeśli podajemy 2 wartości to jest góra,dół */
    margin: 10px;
}

ul{
    /* border: 2px dashed blue;
    list-style-type: none;
    margin: 0;
    padding: 0; */

   /* ułożenie elementów obok siebie */
    display:flex;

    /* ułożenie elementów na środku */
    /* justify-content: center; */

    /* ułożenie elementów na początku */
    /* justify-content: flex-start; */

    /* ułożenie elementów na końcu */
    /* justify-content: flex-end; */

    /* równe odległości od siebie (te same odległości do krawędzi pola) */
    justify-content: space-around;

    /* równe odległości między elementami */
    justify-content: space-evenly;


}

li{
    border: 2px dashed rgb(222, 224, 68);
    /* position:static; */
    /* position:fixed;
    top:0;
    left:0; */

}

/* warunek wypałujący wyświetlaniwe na telefonie */
@media (max-width:768px){
    ul{
        /* display:none; */
        flex-direction: column;
    }
}

form{
    padding:10px;
    gap:5px;
    display:flex;
    flex-direction: column;
    margin: 10px 10px 10px 20px;
    width: 150%;
}

input,textarea{
    padding:10px;
}



img{
   max-widht:100%;
}
.wrapper{
    border:5px dashed pink;
    display:flex;
    flex-direction: column;
    align-items: center;
}


.wrapper header{
    width:100%
}

h2{
    display:flex;
    flex-direction: column;
    align-items: left; 
}