:root{
    --foreground-dark:#58478F;
    --foreground-light: #C4B3FF;
    --background-dark:#8F8739;
    --background-light: #DBD384;
    /* #9984DB */

}
*{box-sizing: border-box;}

body{
/* background-color: rgb(196, 191, 189); */
background-color: var(--background-dark);
margin:0;
min-height: 1500px;
}

a{
    text-decoration: none;
    color: inherit;
    margin: 2rem;
}
/* nadrzędny jest ten bardziej doprecyzowany
main header{
    border: 2px dashed rgb(40, 97, 172);
    
} */
.bodyHeader{
    background-color: var(--background-light);
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top:0;
}
h1{
    /* jeśli podajemy 2 wartości to jest góra,dół */
    margin: 5px 10px;
    font-size: clamp(1.4rem, 2.0vw, 2.5rem);
}
#toogler{
    display: none;
}

#toogler:checked ~ul{
    right: 0;
}


label{
    /* border: 5px dashed red; */
    width: 2rem;
    height: 2rem;
    top: 0;
    right: 0;
    margin: 0.2rem;
    position:absolute; 
}

label div{
    height: 2px;
    background-color: black;
    position: absolute;
    width: 100%;
}

label div:nth-child(1){
    top:calc(10% - 1px);
}
label div:nth-child(2){
    top:calc(45% - 1px);
}
label div:nth-child(3){
    top:calc(80% - 1px);
}

#toogler:checked ~ label div:nth-child(1){
    transform:rotate(45deg);
    top: calc(50% - 1px);
}

#toogler:checked ~ label div:nth-child(2){
    opacity: 0;
}
#toogler:checked ~ label div:nth-child(3){
    transform:rotate(-45deg);
    top: calc(50% - 1px);
}

ul{
/* /* border: 2px dashed blue; */
background-color: var(--background-light);
list-style-type: none;
margin: 0;
padding: 0;
right:-100%;
position:fixed;
top:2.3rem;
height: calc(100% - 2.3rem);
transition: .5s;
padding: .5rem;
flex-direction: column;

/* ułożenie elementów obok siebie */
display:flex;
/* równe odległości od siebie (te same odległości do krawędzi pola) */
/* justify-content: space-around; */

/* ułożenie elementów na środku */
/* justify-content: center; */

/* ułożenie elementów na początku */
    /* justify-content: flex-start; */

    /* ułożenie elementów na końcu */
    /* justify-content: flex-end; */


    /* równe odległości między elementami */
    /* justify-content: space-evenly; */
}


li{ 
    /* border: 2px dashed rgb(222, 224, 68); */
    /* position:static; */
    /* /* position:fixed; */
    top:0;
    left:0;

}

/* warunek wypałujący wyświetlaniwe na telefonie */
@media (min-width:768px){
    ul{
        /* display:none; */
        flex-direction: row;
        position: static;
        background-color: transparent;
    }
    label{
        display: none;
    }
}

form{
    padding:10px;
    gap:5px;
    display:flex;
    flex-direction: column;
    /* margin: 10px 10px 10px 20px; */
    width: 50%;
    padding:15px;
}

input,textarea{
    padding:10px;
}

img{
   max-width: 100%;
}
.wrapper{
    /* border:5px dashed pink; */
    display:flex;
    flex-direction: column;
    align-items: center;
}


.wrapper header{
    width:100%
}

