body{
    background-color: royalblue;
    margin: 0;
    main{
        border: 5px dashed red;
        header{
            .city{
                border: 5px dashed blue;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .mainInfo{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img{
                        max-height: 7rem;
                    }
                    h2{
                        margin: 0;
                    }
                }
                }
            }
        .content{
            display: flex;
            flex-direction: column;
            align-items:center;
            background-color: rgb(118, 140, 205);
            box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
            box-shadow: inset 0px 0px 71px 26px rgba(83, 90, 171, 1);


            #range{
                width: 40%;
                transform: scale(2);
            }
            border:5px dashed rgb(224, 235, 21);
            .cube{
              border:2px dashed rgb(249, 188, 8);
              padding: 2rem 0;
              margin-bottom: 2rem;
              h3, h4{
                margin:.1rem;
                text-align: center;
              }
              .weatherMain{
                .minMax{
                    border:2px dashed red;
                    display: flex;
                    justify-content: center;
            }
                }
              }
            }
          }

    }
  